<mat-toolbar color="accent" [ngStyle]="{'font-size': fontSize}">
    <mat-toolbar-row>
        <h1>Turnstile</h1>
        <h3 class="mat-warn">{{errorMessage | async}}</h3>
        <span class="spacer"></span>
        <app-pager *ngIf="turnstilePage?.page?.totalPages > 1" [size]="pageSize" [pagedResource]="turnstilePage"
                   (pageUpdated)="pageUpdated($event)"></app-pager>
        <button mat-button (click)="createTurnstile()" aria-label="Add">
            <mat-icon>add_circle</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<ng-container *ngIf="breakpoint | async">
    <mat-grid-list cols="12"
                   rowHeight="12em"
                   gutterSize="0.5em"
                   *ngIf="(turnstiles | async) as turnstileList">
        <mat-grid-tile [colspan]="colspan" *ngFor="let turnstile of turnstileList?.turnstiles">
            <app-turnstile [turnstile]="turnstile" (resourceUpdated)="updateTurnstile($event)"></app-turnstile>
        </mat-grid-tile>
    </mat-grid-list>
</ng-container>
